@font-face {
  font-family: 'Proxima';
  src: url(./fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'Proxima Bold';
  src: url(./fonts/ProximaNova-Bold.otf);
}


body {
  margin: 0;
  padding: 0;
  font-family:'Proxima';
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  scroll-behavior: smooth;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}


section {
  padding:110px 0;
}

p {
  margin: 20px 0;
  font-size: 30px;
  line-height: 42px;
}